.backgroundimg123456 {

    background-image: url("../../pictures/sea-540123.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.Caveat {

    font-family: Caveat, cursive;
}


.headerpicture1 {
    background-image: url("../../pictures/thunderstorm-3625405.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/*Creates table with scrollable tbody*/
tbody {
    display:block;
    height:150px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:100%;

}

.select-dropdown {

    color: white
}


.labelTitle {
    font-size: 14px !important;
}

.bodyHeight2 {
    height: 300px;
}
