.backgroundimg {

    background-image: url("../../pictures/jewelry3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.Caveat {

    font-family: Caveat, cursive;
}
