.backgroundimg123 {

    background-image: url("../../pictures/pet-5728249.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.Caveat {

    font-family: Caveat, cursive;
}


.headerpicture1 {
    background-image: url("../../pictures/thunderstorm-3625405.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* set to !important to override Materialize stylesheet */

/*.carousel {*/
/*    height: 700px !important;*/
/*}*/

/*!* set to flexbox to center the images with the indicator icons *!*/
/*.carousel-item {*/
/*    display: flex;*/
/*    align-items: start;*/
/*    justify-content: center;*/
/*}*/

/*.carousel-item img {*/
/*    width: auto !important;*/
/*    height: 350px !important;*/
/*}*/

.psize {

    background-color: greenyellow;
}

.style1{
    /*background-color:greenyellow;*/
    color: green;
    font-weight: bold;
    /*color:white;*/
    /*font-size:44px;*/

}

.style3{
    /*background-color:white;*/
    /*color:white;*/
    color: black;
    background-color: white;
    /*font-size:44px;*/
}


.tubular {
    border-top: 15px solid #bbb;
    border-radius: 5px;
    width: 1000px;
}

.card {
    text-align: center;
}

@media (max-width: 990px) {
    .resizeimg {
        height: auto;
    }
    .scaleText {
        font-size: 15px;

    }

    .contentSize {
        height: 50px;

    }
    /*.scaleText1 {*/
    /*    font-size: 12px;*/

    /*}*/
}

@media (min-width: 1000px) {
    .resizeimg {
        width: auto;
        height: 200px;
    }
    .scaleText {
        font-size: 20px;
    }
    .contentSize {

        height: 50px;
    }
}

button[disabled="disabled"] {
    pointer-events: none;
}
