.backgroundimg12345 {

    background-image: url("../../pictures/sunset-1373171.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal4 {
    left: 0;
    right: 0;
    background-color: #8e3db4;
    padding: 0;
    /*max-height: 40%;*/
    height: 55% !important;
    width: 90%;
    will-change: top, opacity;
}

.modal-footer  {
    border-radius: 0 0 2px 2px;
    /*background-color: #01579b;*/
    padding: 4px 6px;
    height: 50px;
    width: 100%;
    text-align: right;
}
