.backgroundimg1234 {

    background-image: url("../../pictures/thunderstorm-3625405.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.Caveat {

    font-family: Caveat, cursive;
}


.headerpicture1 {
    background-image: url("../../pictures/thunderstorm-3625405.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* set to !important to override Materialize stylesheet */

/*.carousel {*/
/*    height: 700px !important;*/
/*}*/

/*!* set to flexbox to center the images with the indicator icons *!*/
/*.carousel-item {*/
/*    display: flex;*/
/*    align-items: start;*/
/*    justify-content: center;*/
/*}*/

/*.carousel-item img {*/
/*    width: auto !important;*/
/*    height: 350px !important;*/
/*}*/

.modal1 {
    left: 0;
    right: 0;
    background-color: #2f64b4;
    padding: 0;
    /*max-height: 40%;*/
    height: 70% !important;
    width: 35%;
    will-change: top, opacity;
}

 .modal-footer  {
    border-radius: 0 0 2px 2px;
    background-color: #01579b;
    padding: 4px 6px;
    height: 30px;
    width: 100%;
    text-align: right;
}
