.Caveat {

    font-family: Caveat, cursive;
    font-size: 30px !important;
}

.active {
    /*background-color: black;*/
    color: deeppink;

}

.activeSide {
    background-color: white;
    /*color: black;*/

}
/*.navbar-fixed {position: absolute;z-index:999999999;}*/


u {

    text-decoration: underline;

}

.backgroundimg {

    background-image: url("../../pictures/jewelry.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navimg {

    background-image: url("../../pictures/sunrise-1014711.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
